# Environment Variables
# Change 127.0.0.1 to localhost if needed
DATABASE_URL=postgresql://postgres:17082546@127.0.0.1:5432/LongReview
CORS_ORIGINS=http://localhost:4200

# Server Configuration
HOST=0.0.0.0
PORT=8000
